*, html, body {
	margin: 0;
	padding: 0;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
body{
	background-color: #eacea6;
}
nav{
	background-color: #cc993a;
	display: flex;
	justify-content: space-between;
	padding: 3px;
	font-family: "Roboto", sans-serif;
	border-bottom: 5px solid gray;
}
nav ul{
	display: flex;
	align-items: center;
	gap: 3px;
	list-style: none;
}
nav li{
	list-style-type: none;
	padding: 15px;
}

nav ul li a{
	text-decoration: none;
	color: black;
	font-weight: 600;
	transition: all;
	transition-duration: 300ms;
	border-bottom: 3px solid rgba(255, 68, 0, 0);
}
.nav ul li a:hover {
	color: orangered;
	border-bottom: 1px solid orangered;
}
.first{
	color: rgb(27, 25, 25);
	font-weight: 800;
}
.last{
	color: crimson;
	font-weight: 700;
	padding-left: 20px;
}
.tengah img{
	margin: 20px;
	border-radius: 50%;
	border: 5px solid #5b5957;
}
.tengah {
	text-align:center;
}
footer{
	text-align:center;
	border-top:5px solid gray;
	background-color:#e6a94f;
}
.skill1{
	border: 3px solid #5b5957;
	border-radius: 3%;
	margin: 20px;
	color: rgb(52, 49, 45);
}
.galery{
	border: 3px solid #5b5957;
	border-radius: 5%;
	margin: 20px;
	background-color: beige;
}
.galery img{
	border-radius: 5%;
	margin: 20px;
	align-items: center;
}
.judul{
	text-align:center;
}
.skill{
	border: 3px solid #5b5957;
	border-radius: 5%;
	margin: 20px;
	background-color: beige;
}






























































































































































































































































































































